Repository HelixPHP/helixphp-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

phpstan:
  name: PHPStan Static Analysis
  entry: vendor/bin/phpstan
  args:
  - analyse
  - --no-progress
  - --no-ansi
  language: system
  pass_filenames: false
  stages:
  - commit

phpunit:
  name: PHPUnit Tests
  entry: vendor/bin/phpunit
  args:
  - --no-coverage
  - --colors=never
  language: system
  pass_filenames: false
  stages:
  - commit

phpcs-psr12:
  name: PHP Code Sniffer (PSR-12)
  entry: vendor/bin/phpcs
  args:
  - --standard=PSR12
  - --colors
  - --report=summary
  language: system

phpcbf-psr12:
  name: PHP Code Beautifier and Fixer (PSR-12)
  entry: vendor/bin/phpcbf
  args:
  - --standard=PSR12
  language: system
  stages:
  - commit

feat: Implementação completa de validação pre-commit e reorganização da documentação
  .pre-commit-config.yaml
  PERFORMANCE_EVOLUTION_REPORT.md
  PERFORMANCE_OPTIMIZATION_REPORT.md
  PERFORMANCE_TEST_REPORT_2025-06-27.md
  README.md
  benchmarks/reports/PERFORMANCE_SUMMARY_low.md
  benchmarks/reports/PERFORMANCE_SUMMARY_normal.md
  composer.json
  docs/DOCUMENTATION_INDEX.md
  docs/guides/PRECOMMIT_SETUP.md
  docs/implementation/COMPREHENSIVE_PERFORMANCE_SUMMARY.md
  docs/implementation/COMPREHENSIVE_PERFORMANCE_SUMMARY_2025-06-27.md
  docs/implementation/MODERNIZATION_COMPLETE.md
  docs/implementation/PERFORMANCE_EVOLUTION_REPORT.md
  docs/implementation/PERFORMANCE_OPTIMIZATION_REPORT.md
  docs/implementation/PERFORMANCE_TEST_REPORT_2025-06-27.md
  docs/implementation/PRECOMMIT_VALIDATION_COMPLETE.md
  docs/pt-br/README.md
  scripts/pre-commit
  scripts/validate-docs.sh
  scripts/validate_project.php
  temp_cors_benchmark.php
  temp_cors_optimized_benchmark.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

chore: bump version to v2.0.0
  CHANGELOG.md
  composer.json
Due: none

fix: remove version field from composer.json
  composer.json
Due: none

feat: Adiciona notas de lançamento para a versão 2.0.0 com detalhes sobre correções, validações e documentação
  docs/releases/v2.0.0-PUBLISHED.md
  docs/releases/v2.0.0-RELEASE-NOTES.md
Due: none

feat(psr-7-15): Complete PSR-7/PSR-15 implementation
  composer.json
  docs/implementation/PSR-7-PSR-15-PLAN.md
  src/Http/Adapters/GlobalsToServerRequestAdapter.php
  src/Http/Adapters/ResponseEmitter.php
  src/Http/Psr15/AbstractMiddleware.php
  src/Http/Psr15/Middleware/AuthMiddleware.php
  src/Http/Psr15/Middleware/CorsMiddleware.php
  src/Http/Psr15/RequestHandler.php
  src/Http/Psr7/Factory/RequestFactory.php
  src/Http/Psr7/Factory/ResponseFactory.php
  src/Http/Psr7/Factory/ServerRequestFactory.php
  src/Http/Psr7/Factory/StreamFactory.php
  src/Http/Psr7/Factory/UploadedFileFactory.php
  src/Http/Psr7/Factory/UriFactory.php
  src/Http/Psr7/Message.php
  src/Http/Psr7/Request.php
  src/Http/Psr7/Response.php
  src/Http/Psr7/ServerRequest.php
  src/Http/Psr7/Stream.php
  src/Http/Psr7/UploadedFile.php
  src/Http/Psr7/Uri.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

docs(psr-7-15): Add implementation documentation
  docs/implementation/PSR-7-PSR-15-IMPLEMENTATION-SUMMARY.md
  docs/implementation/PSR-7-PSR-15-PLAN.md
Due: none

feat: Consolidação da documentação v2.0.1
  CHANGELOG.md
  DOCUMENTATION_GUIDE.md
  FRAMEWORK_OVERVIEW_v2.0.1.md
  OPTIMIZATION_IMPLEMENTATION_COMPLETE.md
  README.md
  benchmarks/OptimizationBenchmark.php
  benchmarks/PSRPerformanceBenchmark.php
  benchmarks/reports/PERFORMANCE_SUMMARY.md
  docs/implementation/PERFORMANCE_OPTIMIZATION_REPORT.md
  examples/example_high_performance.php
  scripts/README.md
  scripts/cleanup_docs.sh
  scripts/prepare_release.sh
  scripts/publish_v2.0.1.sh
  scripts/release.sh
  scripts/validate-docs-legacy.sh
  scripts/validate-docs-v2.sh
  scripts/validate-docs.sh
  scripts/validate_project.php
  src/Core/Application.php
  src/Http/Psr15/Middleware/HighPerformanceCorsMiddleware.php
  src/Http/Psr7/Factory/HighPerformanceResponseFactory.php
  src/Http/Psr7/Factory/ResponseFactory.php
  src/Http/Psr7/OptimizedMessage.php
  src/Http/Psr7/OptimizedStream.php
  src/Http/Psr7/Response.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: Atualizar validação de backup para gerenciamento em branch separada
  scripts/validate-docs-v2.sh
Due: none

fix: Corrigir erros PHPStan no RouteMemoryManager
  src/Routing/RouteMemoryManager.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: Implement StreamView for zero-copy file reading
  phpstan.neon
  src/Http/Optimization/ArrayView.php
  src/Http/Optimization/MemoryMapping.php
  src/Http/Optimization/MemoryMappingManager.php
  src/Http/Optimization/StreamView.php
  src/Http/Optimization/ZeroCopyOptimizer.php
  src/Http/Psr15/Middleware/AuthMiddleware.php
  src/Http/Psr15/Middleware/CorsMiddleware.php
  src/Http/Psr7/Cache/AdaptiveLearningCache.php
  src/Http/Psr7/Cache/IntelligentJsonCache.php
  src/Http/Psr7/Cache/OperationsCache.php
  src/Http/Psr7/Cache/PredictiveCacheWarmer.php
  src/Http/Psr7/Factory/ResponseFactory.php
  src/Http/Psr7/Factory/UploadedFileFactory.php
  src/Http/Psr7/Pool/DynamicPoolManager.php
  src/Http/Psr7/Pool/EnhancedStreamPool.php
  src/Http/Psr7/Pool/PoolManager.php
  src/Http/Psr7/Pool/ResponsePool.php
  src/Http/Psr7/Response.php
  src/Http/Psr7/ServerRequest.php
  src/Http/Psr7/Stream.php
  src/Http/Psr7/UploadedFile.php
  src/Http/Psr7/Uri.php
  src/Middleware/MiddlewarePipelineCompiler.php
  src/Monitoring/PerformanceMonitor.php
  src/Routing/RouteMemoryManager.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: Permitir parâmetros nulos em construtores e métodos para melhor flexibilidade
  examples/example_complete_optimizations.php
  src/Http/Adapters/GlobalsToServerRequestAdapter.php
  src/Http/Optimization/ArrayView.php
  src/Http/Optimization/MemoryMapping.php
  src/Http/Optimization/MemoryMappingManager.php
  src/Http/Optimization/ZeroCopyOptimizer.php
  src/Http/Psr7/Cache/PredictiveCacheWarmer.php
  src/Http/Psr7/Factory/UploadedFileFactory.php
  src/Middleware/MiddlewarePipelineCompiler.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: Corrigir conversão de tipo em operações de fatiamento e atualizar rastreamento de objetos ativos
  src/Http/Psr7/Pool/HeaderPool.php
  src/Http/Psr7/Pool/ResponsePool.php
  src/Routing/RouteMemoryManager.php
  src/Routing/Router.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

Refactor memory formatting: Centralize byte formatting in Utils
  benchmarks/AdvancedOptimizationsBenchmark.php
  benchmarks/ComprehensivePerformanceAnalysis.php
  benchmarks/ExpressPhpBenchmark.php
  benchmarks/PSRPerformanceBenchmark.php
  benchmarks/SimpleBenchmark.php
  benchmarks/compare_benchmarks.php
  src/Http/Optimization/MemoryMappingManager.php
  src/Http/Optimization/ZeroCopyOptimizer.php
  src/Http/Psr7/Cache/IntelligentJsonCache.php
  src/Http/Psr7/Pool/DynamicPoolManager.php
  src/Http/Psr7/Pool/EnhancedStreamPool.php
  src/Logging/LogHandlerInterface.php
  src/Logging/Logger.php
  src/Middleware/Core/RateLimitMiddleware.php
  src/Middleware/MiddlewarePipelineCompiler.php
  src/Middleware/Security/CsrfMiddleware.php
  src/Middleware/Security/SecurityMiddleware.php
  src/Middleware/Security/XssMiddleware.php
  src/Monitoring/PerformanceMonitor.php
  src/Routing/Route.php
  src/Routing/RouteMemoryManager.php
  src/Utils/Utils.php
  src/Validation/Validator.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: Migração completa para Application como classe principal
  MIGRATION_GUIDE.md
  README.md
  UPGRADE_GUIDE_v3.md
  composer.json
  examples/example_application_api.php
  examples/example_auth_simple.php
  examples/example_basic.php
  examples/example_middleware.php
  examples/example_openapi_docs.php
  migration_plan.md
  src/ApiExpress.php
  src/Core/Application.php
  src/aliases.php
  tests/ApplicationTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

chore: Bump version to 2.1.0
  src/Core/Application.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat(providers): implement PSR-11/14/3 providers system
  MIGRATION_GUIDE.md
  UPGRADE_GUIDE_v3.md
  composer.json
  docs/PSR_PROVIDERS_IMPLEMENTATION.md
  examples/example_psr_providers.php
  migration_plan.md
  phpstan-level9.neon
  src/Core/Application.php
  src/Events/ApplicationStarted.php
  src/Events/RequestReceived.php
  src/Events/ResponseSent.php
  src/Exceptions/Container/ContainerException.php
  src/Exceptions/Container/ServiceNotFoundException.php
  src/Providers/Container.php
  src/Providers/ContainerServiceProvider.php
  src/Providers/EventDispatcher.php
  src/Providers/EventServiceProvider.php
  src/Providers/ListenerProvider.php
  src/Providers/Logger.php
  src/Providers/LoggingServiceProvider.php
  src/Providers/ServiceProvider.php
  tests/PSRProvidersTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: Implement extension and hook management system
  README.md
  config/app.php
  docs/EXTENSION_SYSTEM.md
  docs/EXTENSION_SYSTEM_IMPLEMENTATION_SUMMARY.md
  examples/example_advanced_extension.php
  examples/example_extension_system.php
  src/Core/Application.php
  src/Events/Hook.php
  src/Providers/ExtensionManager.php
  src/Providers/ExtensionServiceProvider.php
  src/Providers/HookServiceProvider.php
  src/Providers/Logger.php
  src/Support/HookManager.php
  tests/ExtensionSystemTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

Atualiza relatórios de desempenho com novos dados de benchmark e corrige horários de geração
  benchmarks/reports/COMPREHENSIVE_PERFORMANCE_ANALYSIS.md
  benchmarks/reports/COMPREHENSIVE_PERFORMANCE_SUMMARY.md
  benchmarks/reports/ENHANCED_ADVANCED_OPTIMIZATIONS_SUMMARY_high.md
  benchmarks/reports/ENHANCED_ADVANCED_OPTIMIZATIONS_SUMMARY_low.md
  benchmarks/reports/ENHANCED_ADVANCED_OPTIMIZATIONS_SUMMARY_normal.md
  benchmarks/reports/PERFORMANCE_SUMMARY_high.md
  benchmarks/reports/PERFORMANCE_SUMMARY_low.md
  benchmarks/reports/PERFORMANCE_SUMMARY_normal.md
Due: none

Atualiza a documentação: reorganiza seções e adiciona guia de implementação de providers
  README.md
  docs/DOCUMENTATION_INDEX.md
  docs/guides/PROVIDER_IMPLEMENTATION_GUIDE.md
Due: none

refactor: simplifica a verificação de provedores registrados na classe Application e melhora a mesclagem de respostas globais no OpenApiExporter
  src/Core/Application.php
  src/Utils/OpenApiExporter.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: corrige a mesclagem de respostas globais no OpenApiExporter para garantir compatibilidade com PHP 8.3
  src/Utils/OpenApiExporter.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: adiciona suporte para listeners PSR-14 e método para limpar listeners registrados
  src/Core/Application.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

refactor: remove configuração de auto-descoberta de provedores e ajuste na lógica de carregamento no ExtensionManager
  config/app.php
  src/Providers/ExtensionManager.php
  tests/Core/CorsMiddlewareRealResponseTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: atualiza a versão da aplicação para 2.1.0 e ajusta a validação correspondente no script de validação
  config/app.php
  scripts/validate_project.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: adiciona método para re-registrar listeners de eventos PSR-14
  src/Core/Application.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: garante que as respostas sejam sempre um array no método export do OpenApiExporter
  src/Utils/OpenApiExporter.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: garante que os códigos de resposta sejam únicos e convertidos para string no método export do OpenApiExporter refactor: suprime a saída durante os testes de log no UtilsTest
  src/Utils/OpenApiExporter.php
  tests/Helpers/UtilsTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: adiciona método para remover listeners específicos e aprimora o registro de listeners PSR-14
  src/Core/Application.php
  src/Providers/ListenerProvider.php
  src/Support/HookManager.php
  src/Utils/Utils.php
  tests/Helpers/UtilsTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: atualiza o esquema do PHPUnit e reorganiza a estrutura do arquivo phpunit.xml
  phpunit.xml
Due: none

fix: atualiza método de log para usar constante DEST_SUPPRESS em vez de 'null'
  src/Utils/OpenApiExporter.php
  src/Utils/Utils.php
  tests/Helpers/UtilsTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: aprimora execução dos testes PHPUnit com tratamento de falhas e cobertura
  .github/workflows/ci.yml
Due: none

chore: atualiza versão para 2.1.1 e ajusta documentação correspondente
  CHANGELOG.md
  FRAMEWORK_OVERVIEW_v2.1.1.md
  README.md
  docs/EXTENSION_SYSTEM.md
  docs/EXTENSION_SYSTEM_IMPLEMENTATION_SUMMARY.md
  docs/PSR_PROVIDERS_IMPLEMENTATION.md
  docs/implementation/PERFORMANCE_OPTIMIZATION_REPORT.md
Due: none

refactor: atualiza a estrutura do código e melhora a legibilidade, incluindo ajustes em middlewares e métodos de requisição
  .gitignore
  benchmarks/PSRPerformanceBenchmark.php
  examples/example_auth.php
  examples/example_complete_optimizations.php
  examples/example_optimized_groups.php
  examples/example_standard_middlewares.php
  examples/example_v2.0.1_showcase.php
  examples/snippets/app_base.php
  src/Core/Application.php
  src/Http/Request.php
  src/Middleware/Security/CsrfMiddleware.php
  src/Providers/ExtensionManager.php
  vendor/autoload.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

docs: atualiza a documentação para refletir a migração para middlewares PSR-15 e remove referências a middlewares legados
  README.md
  docs/guides/QUICK_START_GUIDE.md
  docs/guides/STANDARD_MIDDLEWARES.md
  docs/pt-br/AUTH_MIDDLEWARE.md
Due: none

docs: remove referências a middlewares legados e atualiza documentação para refletir a migração para PSR-15
  CHANGELOG.md
  DOCUMENTATION_GUIDE.md
  README.md
  docs/DEPRECATED_MIDDLEWARES.md
  docs/EXTENSION_SYSTEM_IMPLEMENTATION_SUMMARY.md
  docs/development/DEVELOPMENT.md
  examples/example_auth.php
  examples/example_auth_simple.php
  examples/example_complete_optimizations.php
  examples/example_middleware.php
  examples/example_standard_middlewares.php
  examples/example_v2.0.1_showcase.php
  examples/snippets/auth_snippets.php
  scripts/README.md
Due: phpstan, phpunit

feat: Add optimized examples for Express PHP v2.0.1 showcasing advanced features and middleware usage
  benchmarks/reports/ENHANCED_ADVANCED_OPTIMIZATIONS_SUMMARY_low.md
  benchmarks/reports/PERFORMANCE_SUMMARY_low.md
  legacy/examples_legacy/README.md
  legacy/examples_legacy/example_advanced_extension.php
  legacy/examples_legacy/example_auth.php
  legacy/examples_legacy/example_auth_simple.php
  legacy/examples_legacy/example_basic.php
  legacy/examples_legacy/example_complete_optimizations.php
  legacy/examples_legacy/example_extension_system.php
  legacy/examples_legacy/example_high_performance.php
  legacy/examples_legacy/example_middleware.php
  legacy/examples_legacy/example_openapi_docs.php
  legacy/examples_legacy/example_optimized_groups.php
  legacy/examples_legacy/example_optimized_standard.php
  legacy/examples_legacy/example_psr_providers.php
  legacy/examples_legacy/example_standard_middlewares.php
  legacy/examples_legacy/example_v2.0.1_showcase.php
  scripts/validate_project.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

fix: resolve PHP 8.4 compatibility issues and validation errors
  .gitignore
  benchmarks/reports/ENHANCED_ADVANCED_OPTIMIZATIONS_SUMMARY_low.md
  benchmarks/reports/PERFORMANCE_SUMMARY_low.md
  config/app.php
  examples/app/index.php
  scripts/validate_all.sh
  src/Core/Application.php
  src/Http/Contracts/AttributeInterface.php
  src/Http/Request.php
  src/Http/Response.php
  src/Providers/LoggingServiceProvider.php
  tests/Controller/RouterTest.php
  tests/Http/RequestAttributesTest.php
  tests/Services/OpenApiExporterTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

Path conditions:
  phpstan: any of: \.php$
  phpunit: any of: \.php$
  phpcs-psr12: any of: \.php$, but not: ^(vendor/|examples/|benchmarks/)
  phpcbf-psr12: any of: \.php$, but not: ^(vendor/|examples/|benchmarks/)
