Repository HelixPHP/helixphp-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: phpstan
        name: PHPStan Static Analysis
        entry: vendor/bin/phpstan
        args: ['analyse', '--no-progress', '--no-ansi']
        language: system
        files: \.php$
        pass_filenames: false
        stages: [commit]

      - id: phpunit
        name: PHPUnit Tests
        entry: vendor/bin/phpunit
        args: ['--no-coverage', '--colors=never']
        language: system
        files: \.php$
        pass_filenames: false
        stages: [commit]

      - id: phpcs-psr12
        name: PHP Code Sniffer (PSR-12)
        entry: vendor/bin/phpcs
        args: ['--standard=PSR12', '--colors', '--report=summary']
        language: system
        files: \.php$
        exclude: ^(vendor/|examples/|benchmarks/)

      - id: phpcbf-psr12
        name: PHP Code Beautifier and Fixer (PSR-12)
        entry: vendor/bin/phpcbf
        args: ['--standard=PSR12']
        language: system
        files: \.php$
        exclude: ^(vendor/|examples/|benchmarks/)
        stages: [commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

refactor: simplificar parâmetros de função em rotas de teste
  tests/Integration/Core/ApplicationCoreIntegrationTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

refactor: melhorar a legibilidade das mensagens de teste e formatação de código
  tests/Integration/Core/ApplicationCoreIntegrationTest.php
  tests/Integration/V11ComponentsTest.php
  tests/Utils/SerializationCacheTest.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

chore: atualizar changelog e descrição do projeto para a versão 1.2.0 com melhorias de qualidade e legibilidade
  CHANGELOG.md
  CLAUDE.md
  composer.json
Due: none

Update src/Providers/ExtensionManager.php
  src/Providers/ExtensionManager.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

Update src/Utils/OpenApiExporter.php
  src/Utils/OpenApiExporter.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

Update src/Utils/SerializationCache.php
  src/Utils/SerializationCache.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

refactor: adicionar cache para verificações de class_exists() no ExtensionManager
  src/Providers/ExtensionManager.php
Due: phpstan, phpunit, phpcs-psr12, phpcbf-psr12

feat: adicionar benchmark de desempenho otimizado para ambientes CI no script de verificação de qualidade
  benchmarks/SimpleBenchmark.php
  scripts/quality/quality-check.sh
Due: phpstan, phpunit

feat: atualizar versões dos benchmarks de desempenho para v1.2.0 no CI/CD
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
Due: none

feat: alterar execução de testes para modo testdox no Array Callable
  .github/workflows/ci.yml
Due: none

feat: adicionar RELEASE v1.2.0 "Simplicity Edition" com melhorias de arquitetura e documentação automática
  RELEASE_v1.2.0.md
Due: none

feat: adicionar suporte ao modo CI no script de preparação de release
  scripts/release/prepare_release.sh
Due: none
